extends layout

block content
    h1 Register

    form(action="/auth/register" method="post")
        div
            label(for="fullName") Full Name
        div
            input(type="text" name="fullName" id="fullName" placeholder="Enter your full name" required)

        div
            label(for="email") Email
        div
            input(type="email" name="email" id="email" placeholder="Enter your email" required)

        div
            label(for="password") Password
        div
            input(type="password" name="password" id="password" placeholder="Enter your password" required)

        div
            button(type="submit") Register